# Ignorar a cache
cache/

# Ignorar configurações sensíveis
server.cfg
server.cfg.bkp
server

# Backups e logs do txData
*.log
.replxx_history

# Ficheiros locais e temporários comuns
Thumbs.db
desktop.ini
*.tmp
*.bak
*.old
*.orig
*.swp
*.swo
.history/